@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-body: 'Inter', sans-serif;
  --breakpoint-custom: 1440px;
  --color-gray-100: oklch(95.81% 0 0);
}

@layer components {
  
  .sidebar-icon {
    @apply relative flex items-center justify-center
    h-12 w-12 my-2 mx-auto 
    hover:bg-gray-100 dark:hover:bg-gray-500 rounded-lg
    transition-all cursor-pointer
    text-3xl md:shrink-0;
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max
    bottom-12 md:left-12 md:bottom-0 bottom-12
    rounded-md shadow-md 
    text-white dark:text-black bg-black dark:bg-gray-100
    text-xs invisible;
  }
  .header {
    @apply flex flex-row items-center justify-start w-full h-20 m-0 md:gap-2 gap-1 text-black dark:text-white;
  }
  .header-icon {
    @apply relative flex items-center justify-center m-auto h-12 w-12 hover:bg-gray-100 dark:hover:bg-gray-500 rounded-lg transition-all cursor-pointer p-2 shrink-0;
  }
  .search {
    @apply w-auto flex items-center justify-around 
    bg-gray-100 dark:bg-gray-700 text-gray-100
    px-2 h-12 ml-0 mr-0 rounded-md w-full;
  }
  .search-input {
    @apply font-sans font-semibold w-full
    bg-transparent outline-none 
    text-gray-500 dark:text-white placeholder-gray-500 dark:placeholder-gray-300
    pl-1 rounded;
  }
  .feed-overlay-options {
    @apply flex items-center justify-center
    my-2 mx-1.5 w-9 h-9 md:p-2 p-1
    bg-gray-100 dark:bg-gray-300 hover:bg-gray-300 dark:hover:bg-gray-100 rounded-full transition-all
  }
  .overlay {
    @apply absolute top-0 left-0 w-full
    flex flex-col
    justify-between
    items-end
  }
}